{% extends 'user_profile/base.html' %}

{% block title %}
	Reset Password
{% endblock %}


{% block content %}

	{% if messages %}
		<ul class="messages">
    		{% for message in messages %}
    			<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
    				{{ message }}
    			</li>
    		{% endfor %}
		</ul>
	{% endif %}
	<h3>
		Reset password:
	</h3>
	<p>
		Set your new password.
	</p>
	<form method="post">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<button type="submit">Reset my password</button>
	</form>

{% endblock %}